APP_ENV=production
APP_DEBUG=false
SITE_OWNER=you@example.com
APP_KEY=change-me
DEFAULT_LANGUAGE=en_US
DEFAULT_LOCALE=equal
TZ=America/Bogota
TRUSTED_PROXIES=**

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=firefly
DB_USERNAME=firefly
DB_PASSWORD=change-me

APP_URL=http://localhost:8080
