[user]
    name = {{ .gitName | quote }}
    email = {{ .gitEmail | quote }}

[commit]
    gpgSign = false

[tag]
    forceSignAnnotated = false

[gpg]
    program = gpg

[credential "https://github.com"]
    helper =
    helper = !/usr/bin/gh auth git-credential

[credential "https://gist.github.com"]
    helper =
    helper = !/usr/bin/gh auth git-credential

[credential]
    helper = store

[credential "https://dev.azure.com"]
    useHttpPath = true
